@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Main container and app-wrap styles */
.app-wrap{
  min-height: 100vh;
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main-container {
  background: #4BA6A9;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 2;
}

/* Main container styles */
@media only screen and (max-width: 1024px) {
  .main-wrap{
    width: 100%;
  }
  .main-container{
    padding: 0 15px;
  }
}
