<div>
  <h2 class="subtitle">
    Нou have <span class="count-of-tasks">{{lists.length}}</span> assignments that you must do before christmas is coming
  </h2>
  <div class="wrap-for-input">
    <input
      type="text"
      class="input-for-to-do"
      placeholder="A goal that you would like to fulfill before Christmas"
      (keyup.enter)="addTodo(input.value); input.value=''"
      (keydown)="refineInput($event)"
      #input>
    <button
      (click)="addTodo(input.value); input.value=''"
      class="add-new-to-do"
      mat-raised-button
    >
      Add New To Do
    </button>
  </div>
  <span class="prompt-text">*choose tasks that you completed</span>
  <ul class="lists">
    <li
      *ngFor="let list of lists"
      [class.selected]="list.isDone"
    >
      <div
        class="task-view"
        *ngIf="!list.isEdit"
        (click)="onSelect(list)"
      >
        <img src="../../../assets/image/snow.png" alt="">
        <span
        >
          {{list.text}}
        </span>
      </div>
      <button
        mat-raised-button
        class="edit-tasks"
        (click)="changeEdit(list)"
        *ngIf="!list.isEdit"
      >
        Edit
      </button>
      <app-edit-input
        *ngIf="list.isEdit"
        [data]="list"
        (changeEdit)="changeEdit(list)"
        class="edit-input"
      ></app-edit-input>
    </li>
  </ul>
  <div *ngIf="selected" class="remove-button-wrap">
    <button
      (click)="removeSelected()"
      class="remove-selected"
      mat-raised-button
    >
      Remove Selected
    </button>
  </div>
</div>
