<div>
  <h2 class="subtitle" *ngIf="isDashboard">
    Нou have <span class="count-of-tasks">{{lists.length}}</span> assignments that you must do before christmas is coming
  </h2>
  <h2 class="subtitle" *ngIf="isActiveTasks">
    Нou have <span class="count-of-tasks">{{lists.length}}</span> active task
  </h2>
  <h2 class="subtitle" *ngIf="!isActiveTasks && !isDashboard">
    Нou have <span class="count-of-tasks">{{lists.length}}</span> completed task
  </h2>
  <app-main-input
    *ngIf="isDashboard"
    (updateTaskArray)="updateTasks()"
    [isActiveTasks]="isActiveTasks"
    [isDashboard]="isDashboard"
    [tasksArray]="tasksArray"></app-main-input>
  <ul class="lists">
    <li
      *ngFor="let list of lists; let i = index"
      [class.selected]="isDashboard && list.isDone"
    >
      <div
        class="task-view"
        *ngIf="!list.isEdit"
        (click)="isDashboard && onSelect(list)"
      >
        <span
        >
          {{ i + 1 }} - {{list.text}}
        </span>
      </div>
      <button
        mat-raised-button
        class="edit-tasks"
        (click)="changeEdit(list)"
        *ngIf="!list.isEdit && isDashboard"
      >
        Edit
      </button>
      <app-edit-input
        *ngIf="list.isEdit"
        [data]="list"
        (changeEdit)="changeEdit(list)"
        class="edit-input"
      ></app-edit-input>
    </li>
  </ul>
  <div *ngIf="selected && isDashboard" class="remove-button-wrap">
    <button
      (click)="removeSelected()"
      class="remove-selected"
      mat-raised-button
    >
      Remove Selected
    </button>
  </div>
</div>
